a { color: black; }
caption { font-size: 2em; text-align: center; color: black;}
table { background-color: #8ec1d9;}
th { background-color: lightgrey; text-align: center; font-weight: bold;}
td { text-align: center;font-style: italic;}
a:link { text-decoration: none;}
a:visited { text-decoration: none;}
a:hover { text-decoration: underline;background-color: #8ec1d9;}
a:active{ text-decoration: none;}