li {
	margin: 7px;
	background-color: #85bb65;
	color: white;
	padding: 7px;
	content: 7px;
	display: inline-block;
}
caption{
	text-align: center;
	color: black;
	font-weight: bolder;
	font-size: 1.77em;
}
table{
	border: white, 1px;
	text-align: center;
	background-color:  #85bb65;
	padding: 77px;
	font-size: 1.33em;

}
th{
	text-align: center;
}