.header {text-align: center;}
.footer {text-align: center;}
h1 {font-family: 'Kaushan Script', cursive; font-size: 3em;}
a:link {text-decoration: underline; color:black;}
a:visited {text-decoration: underline; color:pink;}
a:hover {text-decoration: underline; font-weight: bold; }
a:active {text-decoration: none;}
.warning {font-size: 2em; font-weight: bolder; color: red}