a {
	color: black;
}
}
caption {
	font-size: 2em;
}
table {
	background-color: #8ec1d9;
}
th {
	background-color: #8ec1d9;
}
td {
	text-align: center;
	font-style: italic;
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: #8ec1d9;
}
a:active{
	text-decoration: none;
}